@charset "UTF-8";

.calculator {
    display: grid;
    grid-gap: 50px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 115px 60px;
}

@media (max-width: 720px) {
    .calculator {
        padding: 50px 10px;
    }
}

@media (max-width: 720px) {
    .form_calculator_left {
        grid-template-columns: auto;
    }
    .form_calculator_center {
        grid-template-columns: auto;
    }
    .form_calculator_right {
        grid-template-columns: auto;
    }
}

.form_calculator_left {
    padding: 35px 40px 25px 40px;
    background: #FFFFFF;
    border: 1px solid #D9E4E6;
    border-radius: 5px;
    align-items: center;
}

.panel_select {
    font-size: 18px;
    color: #213053;
    height: 60px;
    outline: none;
    padding: 0 10px 0 10px;
    border-radius: 15px;
    border: none;
    appearance: none;
    border: 1px solid #D9E4E6;
}

.count_panel_center {
    display: flex;
    align-items: center;
    height: 60px;
    grid-gap: 10px
}

.panel_number {
    font-size: 18px;
    color: #213053;
    height: 60px;
    outline: none;
    padding: 0 10px 0 10px;
    border-radius: 15px;
    border: none;
    appearance: none;
    border: 1px solid #D9E4E6;
}

.panels__quantity-text {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.panels__square {
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    align-items: center;
}

.form_calculator_center {
    padding: 35px 40px 25px 40px;
    background: #FFFFFF;
    border: 1px solid #D9E4E6;
    border-radius: 5px;
}

.calculator_params {
    margin-top: 30px;
}

.option__item {
    font-size: 21px;
    margin-top: 25px;
    align-items: center;
}

.insurance {
    display: flex;
    grid-gap: 15px
}

/*--------------------------------------------------------------
Effects Checkbox Style
--------------------------------------------------------------*/

.toggler-wrapper {
	display: block;
	width: 45px;
	height: 25px;
	cursor: pointer;
	position: relative;
}

.toggler-wrapper input[type="checkbox"] {
	display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
	background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
	position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

/*----- Кнопка страховки -----*/
.toggler-wrapper.style-2 {
	width: 67.5px;
}

.toggler-wrapper.style-2 input[type="checkbox"]:checked+.toggler-slider .toggler-knob:before {
	opacity: 0.4;
}

.toggler-wrapper.style-2 input[type="checkbox"]:checked+.toggler-slider .toggler-knob:after {
	opacity: 1;
}

.toggler-wrapper.style-2 .toggler-knob {
	position: relative;
	height: 100%;
}

.toggler-wrapper.style-2 .toggler-knob:before {
	content: 'Нет';
	position: absolute;
	top: 50%;
	left: 5px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 75%;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
}

.toggler-wrapper.style-2 .toggler-knob:after {
	content: 'Да';
	position: absolute;
	top: 50%;
	right: 5px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 75%;
	text-transform: uppercase;
	font-weight: 500;
	color: white;
	opacity: 0.4;
}
/*----- Окончание кнопки страховки -----*/


.form_calculator_right {
    padding: 35px 40px 25px 40px;
    background: #FFFFFF;
    border: 1px solid #D9E4E6;
    border-radius: 5px;
}

.form__item_2 {
    display: flex;
    grid-gap: 10px;
    align-items: center;
}

.order {
    display: flex;
    font-size: 21px;
    align-items: center;
    grid-gap: 10px;
}

.total {
    font-size: 21px;
    grid-gap: 10px;
}