/* Раздел для записи контактов */
.form {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1d263a;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
}

.form_title {
    font-size: 48px;
}

.form__container {
    width: 550px;
}

.form_text {
    line-height: 2;
    font-size: 16px;
}

.form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.client_data {
    margin-top: 60px;
    display: grid;
    grid-gap: 20px;
}

.form_data {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form_name, .form_email, .form_phone, .form_budget {
    font-size: 18px;
    color: #213053;
    height: 60px;
    outline: none;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    border: none;
}

.form__submit {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

.form_budget {
    appearance: none;
}

button:hover {
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.2s ease-in;
}

#message_status {
    display: none;
    margin-top: 40px;
    padding: 20px;
    border: none;
    justify-content: space-around;
    background-color: rgb(255, 238, 3);
	animation: pulse 1.25s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.message_status {
    display: none;
    margin-top: 40px;
    padding: 20px;
    border: none;
    background-color: rgb(225, 40, 40);
    border-radius: 15px;
    box-shadow: 0 16px 36px rgba(255, 0, 0, 0.22);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    animation: shake 1.25s linear 1;
}

@keyframes shake {
    10% { 
    transform: translateX(3px) rotate(2deg);
    }

    20% {
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        transform: translateX(1px) rotate(0);
    }

    100% {
        transform: translateX(-1px) rotate(0);
    }
}