/* Раздел для записи контактов */
.form {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #1d263a;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
}

.form h1 {
    font-size: 48px;
}

.form p {
    font-size: 18px;
    opacity: 0.65;
}

.form__container {
    width: 550px;
}

.form_text {
    line-height: 2;
    font-size: 16px;
}

.form__group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form form {
    margin-top: 60px;
    display: grid;
    grid-gap: 20px;
}

.form label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form input, select {
    font-size: 18px;
    color: #213053;
    height: 60px;
    outline: none;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    border: none;
}

.form__submit {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
}

select {
    appearance: none;
}

button:hover {
    background-color: #f6980c;
    box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
    transition: background-color 0.2s ease-in;
}