/* Подвал */
footer {
    padding: 90px 20px 90px 20px;
    font-size: 16px;
    font-weight: 600;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__copyright {
    margin-top: 40px;
    text-align: center;
    opacity: 0.5;
}

.footer__group {
    margin-right: 80px;
}

h3 {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.footer__links a {
    margin-bottom: 15px;
    text-decoration: none;
    color: #213053;
}

.footer__links {
    display: flex;
    flex-direction: column;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.about__sun-image {
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
}