/* !!!! Мобильные устройства !!!! */
@media (max-width: 720px) {
    header {
        padding: 10px;
    }

    .header__logo {
        padding: 20px;
    }

    header a {
        margin-right: 10px;
    }

    .about {
        flex-direction: column-reverse;
        padding: 50px 10px;
    }

    /* Размеры шрифта крупных заголовков */
    .about h1 {
        font-size: 36px;
        line-height: 40px;
    }
    /* Картинки солнечной батареи */
    .about__solar-image {
        width: 280px;
    }
    /* Картинка солнца */
    .about__sun-image {
        width: 75px;
        height: 75px;
    }

    .form {
        padding: 50px 10px;
    }

    .form h1 {
        font-size: 36px;
    }

    footer {
        padding: 50px 10px;
    }

    .footer__container {
        flex-direction: column;
    }

    .features {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .cards {
        grid-template-columns: auto;
    }
}